body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 0 auto;
}

.hero{
    background-image:url('../images/Chelsea-FC-Logo-Backgrounds.jpg');
    height:100vh;
    width:100vw;
    background-position-x: center;
    background-position-y:center;
}

.main-nav li{
    display:inline;

}
.main-nav{
    
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    width:100vw;
    margin:0;
    padding:0;
    border-bottom:1px solid whitesmoke;
}

.main-nav ul{
    margin-bottom:15px;
}

.main-nav a:hover{
    color:blue;
    background-color:white;
}

p{
    text-align: justify;
    line-height: 2em;
    margin: 0 50px;
}

.menu{
    list-style-type:none;
    padding-right: 15px;
}

.link{
    align-items:center;
    text-decoration:none;
    color:white;
    font-size:2em;
}


.main-nav img{
    display:inline-block;
    vertical-align:middle;
    width:5em;
    height:5em;
    margin: 0;
}


.about{
    position:relative;
}

.main-nav, .about{
    background-image:url("../images/Chelsea-FC-Logo-Backgrounds.jpg");
}

body{
    background-color:whitesmoke;
}
h1{
    text-align:center;
    color:#14147A;
    margin:0;
    padding:20px 0;
    line-height:2em;
}


.player-container{
    display:flex;
    justify-content:space-around;
}


.players{
    text-align:center;
    color: #14147A;
}

.player-image{
    height:200px;
    width:300px;
    
}

figcaption{
    text-align:center;
    margin-bottom: 10px;
}


footer{
   text-align:center;
   margin-top: 50px;
   padding: 30px 0;
   border-top: 1px solid blue;
}
    /*first pixel sets the horizontal offset of the shadow from the text--How far it moves across: a negative value should move it to the left
    The second pixel value sets the vertical offset of the shadow from the text — how far it moves down, in this example; a negative value should move it up.
    The third pixel value sets the blur radius of the shadow — a bigger value will mean a more blurry shadow.
    The fourth value sets the base color of the shadow.
    */


/*Images, on the other hand, are inline elements, meaning they can't. So to apply margins to the image, we have to give the image block-level behavior using display: block;.
*/

